.nav-link{
	/* font-family: "Times New Roman", Times, serif; */
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	margin-left: 50px;
	margin-right: 100px;
	text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.searchBar {
  display: inline-block;
  float: none;
  vertical-align: center;
  text-align: justify-all; ;
  margin-right: 100px;

}
.icon{
  color: #AF473C;
  margin-left: 20px;
  margin-right: 10px;
  display: inline-block;
  font-size: 30px;
}


