.content{
	margin-bottom: 30px; 
	vertical-align: top;
 	display: inline-block;
 	text-align: center;
}

.font-style{
	text-align: center;
	color: #945D60;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	font-variant: small-caps;
	line-height: 0.7;


}

.Demo__some-network {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 10px;  
  text-align: center;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;}

a {
    color: #945D60;

}