.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear; */
  width: 250px;
  height: 250px;
}

.App-header {
  background-color: white;
  height: 350px;
  padding: 20px;
  color: #945D60;
}

.App-title {
  font-weight: bold;
  font-size: 2.5em;
}

.App-footer {
  background-color: #7b9178;
  padding: 32px;
  font-size: 1em;
  color: white;
  text-align: center;
}
